extends layout

block content
  if user 
    h3 Welcome back #{user.name}
  h1(style='color: darkgreen') Recipe World
  each recipe in recipes
    lable(style='font-size:18px')
      b name: 
    a(href="/recipe/single/"+recipe.id) #{recipe.name}
    p(style="line-height: 2")
      b Description: 
      | #{recipe.description}
    p 
      b Difficulty: 
      | #{recipe.difficulty}
    p 
      b Ingredients: 
    ul 
    each ingredient in recipe.ingredients
      if !ingredient.isEmpty
        li #{ingredient}
        br
    p 
      b Steps: 
    ul 
    each step in recipe.steps
      li #{step}
      br
    hr
