extends layout

block content
    h1(style='color: darkgreen') #{recipe.name}
    p 
      b Description: 
      | #{recipe.description}
    p 
      b Difficulty: 
      | #{recipe.difficulty}
    p 
      b Ingredients: 
    ul 
    each ingredient in recipe.ingredients
      li #{ingredient}
      br
    p 
      b Steps: 
    ul 
    each step in recipe.steps
      li #{step}
      br
    hr
    a.btn.btn-default(href='/recipe/single/edit/'+ recipe._id) Edit Recipe
    br
    br
    button.btn.delete-recipe(href='#', data-id=recipe._id, type='button') Delete Recipe
    p.delete(style='color: red')
       